pipeline/pipeline_lookup_activity_conditional_iteration.json
{
	"name": "pipeline_lookup_activity_conditional_iteration",
	"properties": {
		"activities": [
			{
				"name": "Loop_through_the_tables",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('TablesList')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Look for tables which has data",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat('SELECT COUNT(*) AS COUNTS FROM ',item())",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "OnPremSqlServer",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check counts in tables",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Look for tables which has data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('Look for tables which has data').output.firstrow.COUNTS,0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Copy data from  tables to CSV",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlServerSource",
												"sqlReaderQuery": {
													"value": "@concat('SELECT * from ',item())",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobStorageWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "OnPremSqlServer",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "nkds_sink",
												"type": "DatasetReference",
												"parameters": {
													"FileName": {
														"value": "@concat( item() ,'_' ,formatDateTime(utcnow(),'MM_dd_yyyy') ,'.csv' )",
														"type": "Expression"
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"TablesList": {
				"type": "Array",
				"defaultValue": [
					"Test1",
					"tblEmployee",
					"tblperson"
				]
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T11:47:52Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}