pipeline/pl_until_activity.json
{
	"name": "pl_until_activity",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@bool(variables('UntilFlag'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait for 2 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 2
							}
						},
						{
							"name": "Check the refreshed status",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait for 2 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": "SELECT refreshed as STATUS from T_Status",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "source_ds_onpremSQL_server",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Check if the refreshed status is Y",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Check the refreshed status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Check the refreshed status').output.firstRow.STATUS,'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Set refreshed status True",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "UntilFlag",
											"value": "True"
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			},
			{
				"name": "Copy data from Onprem SQL to Azure SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "source_ds_onpremSQL_server",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "sink_ds_azuresqlserver",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"UntilFlag": {
				"type": "String",
				"defaultValue": "False"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-07-11T15:27:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}